### pandas

In [1]:
import pandas as pd

In [2]:
#creating pandas using series
panda=pd.Series([12,12,1,32,14,16])
panda

0    12
1    12
2     1
3    32
4    14
5    16
dtype: int64

In [3]:
import numpy as np

In [5]:
#creating pandas using numpy array
new_panda=pd.Series(np.array(["abc","def","ghi"]))
new_panda

0    abc
1    def
2    ghi
dtype: object

In [9]:
#setting an index value
customised_index=pd.Series(np.array(["apple","orange","pineapple","strawberry"]),index=np.arange(0,8,2))

In [10]:
customised_index

0         apple
2        orange
4     pineapple
6    strawberry
dtype: object

In [11]:
string_index=pd.Series(np.array(["apple","orange","pineapple","strawberry"]),index=['A1','A2','A3','A4'])
string_index

A1         apple
A2        orange
A3     pineapple
A4    strawberry
dtype: object

In [15]:
#creating pandas series using dictionaries
new_dict={"fruits":["apple","orange"],"vegetables":["carrot","beans"],"chocolate":"dairymilk"}
grocery=pd.Series(new_dict)

In [16]:
grocery               #keys as index and values as values

fruits        [apple, orange]
vegetables    [carrot, beans]
chocolate           dairymilk
dtype: object

In [17]:
grocery.index()

TypeError: 'Index' object is not callable

In [19]:
grocery.index

Index(['fruits', 'vegetables', 'chocolate'], dtype='object')

In [20]:
grocery.values

array([list(['apple', 'orange']), list(['carrot', 'beans']), 'dairymilk'],
      dtype=object)

In [22]:
panda[:5]        #accessing series elements

0    12
1    12
2     1
3    32
4    14
dtype: int64

In [23]:
panda[::-1]

5    16
4    14
3    32
2     1
1    12
0    12
dtype: int64

In [24]:
panda[-5:]            #retrieve last 5 elements with index

1    12
2     1
3    32
4    14
5    16
dtype: int64

In [25]:
grocery['fruits']          
#accessing using index

['apple', 'orange']

In [26]:
grocery[['fruits','vegetables']]

fruits        [apple, orange]
vegetables    [carrot, beans]
dtype: object

In [27]:
panda[panda>14]             #satisfying the given conditions   #filtering

3    32
5    16
dtype: int64

###arithmetic operations

In [28]:
panda*2

0    24
1    24
2     2
3    64
4    28
5    32
dtype: int64

In [31]:
a1=pd.Series([1,2,3,4])
a2=pd.Series([5,4,3,2])
a2

0    5
1    4
2    3
3    2
dtype: int64

In [32]:
a2=a1+a2      #addition

In [33]:
a2

0    6
1    6
2    6
3    6
dtype: int64

In [34]:
a4=a1.multiply(a2)
a4                                     #multiplication

0     6
1    12
2    18
3    24
dtype: int64

In [41]:
a5=a1+panda             #NAN------------>not a number
a5
a5.sort_values(ascending=True,na_position='last')         #returns the null values at the very end

2     4.0
0    13.0
1    14.0
3    36.0
4     NaN
5     NaN
dtype: float64

In [36]:
panda.rank()            #returns the rank

0    2.5
1    2.5
2    1.0
3    6.0
4    4.0
5    5.0
dtype: float64

In [37]:
panda.sort_values()               #sorting function

2     1
0    12
1    12
4    14
5    16
3    32
dtype: int64

In [38]:
panda.sort_values(ascending=False)

3    32
5    16
4    14
0    12
1    12
2     1
dtype: int64

In [44]:
customised_index.sort_index(ascending=False)         #sorting the index values

6    strawberry
4     pineapple
2        orange
0         apple
dtype: object

In [45]:
a5.isnull()         # checks for the null values

0    False
1    False
2    False
3    False
4     True
5     True
dtype: bool

In [46]:
a5.notnull()

0     True
1     True
2     True
3     True
4    False
5    False
dtype: bool

In [50]:
class1=np.linspace(0,20,11)
class2=np.linspace(0,30,11)

In [51]:
c1=pd.Series(data=class1)
c2=pd.Series(data=class2)
print(c1)
print(c2)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
dtype: float64
0      0.0
1      3.0
2      6.0
3      9.0
4     12.0
5     15.0
6     18.0
7     21.0
8     24.0
9     27.0
10    30.0
dtype: float64

In [53]:
pd.concat([c1,c2])

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      0.0
1      3.0
2      6.0
3      9.0
4     12.0
5     15.0
6     18.0
7     21.0
8     24.0
9     27.0
10    30.0
dtype: float64

In [55]:
pd.concat([c1,c2],keys=['a','b'],names=['new','old'])

new  old
a    0       0.0
     1       2.0
     2       4.0
     3       6.0
     4       8.0
     5      10.0
     6      12.0
     7      14.0
     8      16.0
     9      18.0
     10     20.0
b    0       0.0
     1       3.0
     2       6.0
     3       9.0
     4      12.0
     5      15.0
     6      18.0
     7      21.0
     8      24.0
     9      27.0
     10     30.0
dtype: float64

In [56]:
c1.append(c2)                #index value nver changes

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
0      0.0
1      3.0
2      6.0
3      9.0
4     12.0
5     15.0
6     18.0
7     21.0
8     24.0
9     27.0
10    30.0
dtype: float64